*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #0e0f1f;
  --primary-bg: #1e2139;
  --text-primary: #def3fa;
  --border-radius: 0.3rem;
  --accent: #3045e4;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--main-bg);
  color: var(--text-primary);
}

input,
button,
select {
  font-family: inherit;
}

input {
  width: 100%;
  display: block;
}

h1 {
  margin-bottom: -1rem;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 5rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #1de9b6, #2979ff);
  -webkit-text-fill-color: transparent;
  color: #464646;
}

select {
  color: var(--text-primary);
  background-color: var(--primary-bg);
  border-radius: var(--border-radius);
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

select option {
  border-radius: var(--border-radius);
}

main {
  padding: 1rem;
  color: var(--text-primary);
}

#convert-form {
  background-color: var(--primary-bg);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 1rem auto;
}

#convert-options {
  padding: 0.3rem;
  border-radius: var(--border-radius);
}

#convert-options h2 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

#convert-options fieldset {
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius);
}

#convert-options legend {
  padding: 0 0.4rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

#set-root {
  width: 30%;
}

label {
  display: inline-block;
  margin-bottom: 0.4rem;
}

.form-control {
  outline: 0;
  border-radius: var(--border-radius);
  padding: 0.7rem 1rem;
  border: 1px solid #eee;
  color: #def3fa;
  background-color: var(--main-bg);
}

/* validate inputs */
.form-control.invalid {
  border-color: red;
}

.form-control.invalid + .error {
  font-size: 0.9rem;
  width: initial;
  height: initial;
  color: red;
  margin-top: 0.4rem;
  display: inline-block;
  text-align: center;
  clip-path: inset(0);
  position: initial;
  width: auto;
  height: auto;
  overflow: visible;
}

.form-control + .error {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.form-control:focus,
select:focus {
  border: 2px solid var(--accent);
}

.result-wrapper {
  margin-bottom: 1.2rem;
  position: relative;
}

.result-wrapper p {
  margin-bottom: 0.4rem;
}

#result {
  background-color: var(--main-bg);
}

.result-wrapper button {
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
  top: -1rem;
  border-radius: var(--border-radius);
  color: var(--text-primary);
  background-color: var(--primary-bg);
  padding: 0.3rem 0.7rem;
  outline: 0;
  border: 1px solid var(--accent);
  transition: all 200ms;
}

.result-wrapper button:hover {
  background-color: var(--main-bg);
}

.result-wrapper button:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}
